PORT=3001
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/telegrambot
TELEGRAM_TOKEN=
TELEGRAM_WEBHOOK_URL=https://your-subdomain.trycloudflare.com/webhook/telegram

ORION_API_KEY=
ORION_BASEURL=https://api.orionpay.com/v1/

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DRIVE_LINK_PACK_50=
DRIVE_LINK_PACK_20=
WEBHOOK_SECRET=
